:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid rgb(230, 230, 230);

  .group-range {
    display: flex;
    gap: 8px;
  }

  ::ng-deep {
    mat-form-field {
      .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }

      .mdc-text-field--disabled.mdc-text-field--filled {
        background-color: unset !important;
      }

      .mdc-text-field--disabled .mdc-line-ripple::before {
        border-bottom-color: transparent !important;
      }
    }
  }
}
