<guide-header
  title="Lista de componentes"
  description="Componentes criados para ter a cara da guide"
></guide-header>

<div class="body">
  <span class="title">Primary</span>
  <div class="group">
    <guide-button type="primary"> Theme </guide-button>
    <guide-button type="primary" color="success"> Success </guide-button>
    <guide-button type="primary" color="warning"> Warning </guide-button>
    <guide-button type="primary" color="error"> Error </guide-button>
  </div>

  <span class="title">Secondary</span>
  <div class="group">
    <guide-button type="secondary"> Theme </guide-button>
    <guide-button type="secondary" color="success"> Success </guide-button>
    <guide-button type="secondary" color="warning"> Warning </guide-button>
    <guide-button type="secondary" color="error"> Error </guide-button>
  </div>

  <span class="title">Tertiary</span>
  <div class="group">
    <guide-button type="tertiary"> Theme </guide-button>
    <guide-button type="tertiary" color="success"> Success </guide-button>
    <guide-button type="tertiary" color="warning"> Warning </guide-button>
    <guide-button type="tertiary" color="error"> Error </guide-button>
  </div>
</div>
