@import 'variables.scss';

* {
  font-family: $gd-font-name, arial, sans-serif;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

button {
  font-family: $gd-font-name, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

p,
.p {
  color: map-get($gd-primary, main);
  font-family: $gd-font-name, arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

h4,
.h4 {
  color: map-get($gd-primary, main);
  font-family: $gd-font-name, arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
}

h3,
.h3 {
  color: map-get($gd-primary, main);
  font-family: $gd-font-name, arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

h2,
.h2 {
  color: map-get($gd-primary, main);
  font-family: $gd-font-name, arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 38px;
}

h1,
.h1 {
  color: map-get($gd-primary, main);
  font-family: $gd-font-name, arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40;
  line-height: 46px;
}

.text-italic {
  color: map-get($gd-primary, main);
  font-family: $gd-font-name, arial, sans-serif;
  font-size: 16px;
  font-style: italic;
}

.text-semibold {
  color: map-get($gd-primary, main);
  font-family: $gd-font-name, arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.text-bold {
  color: map-get($gd-primary, main);
  font-family: $gd-font-name, arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.text-strong {
  color: map-get($gd-primary, main);
  font-family: $gd-font-name, arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
}

.text-cap {
  color: map-get($gd-primary, main);
  font-family: $gd-font-name, arial, sans-serif;
  font-size: 16px;
  text-transform: capitalize;
}

.text-lowercase {
  color: map-get($gd-primary, main);
  font-family: $gd-font-name, arial, sans-serif;
  font-size: 16px;
  text-transform: lowercase;
}

.text-uppercase {
  color: map-get($gd-primary, main);
  font-family: $gd-font-name, arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.text-boxed {
  color: map-get($gd-primary, main);
  font-family: $gd-font-name, arial, sans-serif;
  border-radius: 2px;
  padding: 4px 8px;
  margin: 0 8px;
  font-size: 11px;
  font-weight: 600;
  white-space: nowrap;
}

.text-truncate {
  color: map-get($gd-primary, main);
  font-family: $gd-font-name, arial, sans-serif;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-nowrap {
  white-space: nowrap;
}

.text-muted {
  color: #c5c5c5;
  font-family: $gd-font-name, arial, sans-serif;
}
