$gd-primary: (
  main: var(--gd-color-primary-main),
  50: #ffffff,
  100: var(--gd-color-primary-100),
  200: var(--gd-color-primary-200),
  300: var(--gd-color-primary-300),
  400: var(--gd-color-primary-400),
  500: var(--gd-color-primary-500),
  600: var(--gd-color-primary-600),
  700: var(--gd-color-primary-700),
  800: var(--gd-color-primary-800),
  900: var(--gd-color-primary-900),
  A100: var(--gd-color-primary-A100),
  A200: var(--gd-color-primary-A200),
  A400: var(--gd-color-primary-A400),
  A700: var(--gd-color-primary-A700),
  contrast: (
    main: var(--gd-color-primary-contrast-main),
    50: var(--gd-color-primary-contrast-50),
    100: var(--gd-color-primary-contrast-100),
    200: var(--gd-color-primary-contrast-200),
    300: var(--gd-color-primary-contrast-300),
    400: var(--gd-color-primary-contrast-400),
    500: var(--gd-color-primary-contrast-500),
    600: var(--gd-color-primary-contrast-600),
    700: var(--gd-color-primary-contrast-700),
    800: var(--gd-color-primary-contrast-800),
    900: var(--gd-color-primary-contrast-900),
    A100: var(--gd-color-primary-contrast-A100),
    A200: var(--gd-color-primary-contrast-A200),
    A400: var(--gd-color-primary-contrast-A400),
    A700: var(--gd-color-primary-contrast-A700)
  )
);

$gd-dark-primary-text: #000000;
$gd-light-primary-text: #f8f8f8;

$gd-error: (
  main: var(--gd-color-error-main),
  50: #ffffff,
  100: var(--gd-color-error-100),
  200: var(--gd-color-error-200),
  300: var(--gd-color-error-300),
  400: var(--gd-color-error-400),
  500: var(--gd-color-error-500),
  600: var(--gd-color-error-600),
  700: var(--gd-color-error-700),
  800: var(--gd-color-error-800),
  900: var(--gd-color-error-900),
  A100: var(--gd-color-error-A100),
  A200: var(--gd-color-error-A200),
  A400: var(--gd-color-error-A400),
  A700: var(--gd-color-error-A700),
  contrast: (
    main: var(--gd-color-error-contrast-main),
    50: var(--gd-color-error-contrast-50),
    100: var(--gd-color-error-contrast-100),
    200: var(--gd-color-error-contrast-200),
    300: var(--gd-color-error-contrast-300),
    400: var(--gd-color-error-contrast-400),
    500: var(--gd-color-error-contrast-500),
    600: var(--gd-color-error-contrast-600),
    700: var(--gd-color-error-contrast-700),
    800: var(--gd-color-error-contrast-800),
    900: var(--gd-color-error-contrast-900),
    A100: var(--gd-color-error-contrast-A100),
    A200: var(--gd-color-error-contrast-A200),
    A400: var(--gd-color-error-contrast-A400),
    A700: var(--gd-color-error-contrast-A700)
  )
);

$gd-warning: (
  main: var(--gd-color-warning-main),
  50: #ffffff,
  100: var(--gd-color-warning-100),
  200: var(--gd-color-warning-200),
  300: var(--gd-color-warning-300),
  400: var(--gd-color-warning-400),
  500: var(--gd-color-warning-500),
  600: var(--gd-color-warning-600),
  700: var(--gd-color-warning-700),
  800: var(--gd-color-warning-800),
  900: var(--gd-color-warning-900),
  A100: var(--gd-color-warning-A100),
  A200: var(--gd-color-warning-A200),
  A400: var(--gd-color-warning-A400),
  A700: var(--gd-color-warning-A700),
  contrast: (
    main: var(--gd-color-warning-contrast-main),
    50: var(--gd-color-warning-contrast-50),
    100: var(--gd-color-warning-contrast-100),
    200: var(--gd-color-warning-contrast-200),
    300: var(--gd-color-warning-contrast-300),
    400: var(--gd-color-warning-contrast-400),
    500: var(--gd-color-warning-contrast-500),
    600: var(--gd-color-warning-contrast-600),
    700: var(--gd-color-warning-contrast-700),
    800: var(--gd-color-warning-contrast-800),
    900: var(--gd-color-warning-contrast-900),
    A100: var(--gd-color-warning-contrast-A100),
    A200: var(--gd-color-warning-contrast-A200),
    A400: var(--gd-color-warning-contrast-A400),
    A700: var(--gd-color-warning-contrast-A700)
  )
);

$gd-success: (
  main: var(--gd-color-success-main),
  50: #ffffff,
  100: var(--gd-color-success-100),
  200: var(--gd-color-success-200),
  300: var(--gd-color-success-300),
  400: var(--gd-color-success-400),
  500: var(--gd-color-success-500),
  600: var(--gd-color-success-600),
  700: var(--gd-color-success-700),
  800: var(--gd-color-success-800),
  900: var(--gd-color-success-900),
  A100: var(--gd-color-success-A100),
  A200: var(--gd-color-success-A200),
  A400: var(--gd-color-success-A400),
  A700: var(--gd-color-success-A700),
  contrast: (
    main: var(--gd-color-success-contrast-main),
    50: var(--gd-color-success-contrast-50),
    100: var(--gd-color-success-contrast-100),
    200: var(--gd-color-success-contrast-200),
    300: var(--gd-color-success-contrast-300),
    400: var(--gd-color-success-contrast-400),
    500: var(--gd-color-success-contrast-500),
    600: var(--gd-color-success-contrast-600),
    700: var(--gd-color-success-contrast-700),
    800: var(--gd-color-success-contrast-800),
    900: var(--gd-color-success-contrast-900),
    A100: var(--gd-color-success-contrast-A100),
    A200: var(--gd-color-success-contrast-A200),
    A400: var(--gd-color-success-contrast-A400),
    A700: var(--gd-color-success-contrast-A700)
  )
);

$gd-question: (
  main: var(--gd-color-question-main),
  50: #ffffff,
  100: var(--gd-color-question-100),
  200: var(--gd-color-question-200),
  300: var(--gd-color-question-300),
  400: var(--gd-color-question-400),
  500: var(--gd-color-question-500),
  600: var(--gd-color-question-600),
  700: var(--gd-color-question-700),
  800: var(--gd-color-question-800),
  900: var(--gd-color-question-900),
  A100: var(--gd-color-question-A100),
  A200: var(--gd-color-question-A200),
  A400: var(--gd-color-question-A400),
  A700: var(--gd-color-question-A700),
  contrast: (
    main: var(--gd-color-question-contrast-main),
    50: var(--gd-color-question-contrast-50),
    100: var(--gd-color-question-contrast-100),
    200: var(--gd-color-question-contrast-200),
    300: var(--gd-color-question-contrast-300),
    400: var(--gd-color-question-contrast-400),
    500: var(--gd-color-question-contrast-500),
    600: var(--gd-color-question-contrast-600),
    700: var(--gd-color-question-contrast-700),
    800: var(--gd-color-question-contrast-800),
    900: var(--gd-color-question-contrast-900),
    A100: var(--gd-color-question-contrast-A100),
    A200: var(--gd-color-question-contrast-A200),
    A400: var(--gd-color-question-contrast-A400),
    A700: var(--gd-color-question-contrast-A700)
  )
);

$gd-font-name: var(--gd-font-name);
