:host {
  .google-visualization-tooltip {
    background-color: yellow !important;
    border: 2px solid cyan !important;
  }

  .google-visualization-tooltip span {
    color: magenta !important;
  }
}

.google-visualization-tooltip {
  width: 300px !important;
  background-color: red !important;
}
